<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Express Guestbook</title>

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
  </head>
  <body class="container">
    <h1>
      Express Guestbook
      <a href="/new-entry" class="btn btn-primary pull-right">
        Write in the guestbook
      </a>
    </h1>
  </body>
</html>
