<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>

    <link rel="stylesheet" href="/styles/site.css">

    <!-- Google fonts for Oswald -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>

<header class="header">
    <h1>Fruit Management System</h1>
</header>

<section class="navbar">
    <a href="/">Home</a>
    <a href="/about">About</a>
</section>

<section class="container">
    <h1 class="center-text">Welcome to the FMS Landing Page!</h1>
    <div class="card center-div">
        <div class="card-title">Fruits R' Us! </div>

        <div class="card-content">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vel pellentesque sem, 
                sit amet iaculis turpis. Nunc venenatis, quam eget pulvinar ornare, risus magna dapibus enim, 
                vitae varius tortor nibh nec urna. Phasellus vel ipsum lorem. In risus nisi, auctor id malesuada vitae, 
                egestas volutpat nulla. Quisque id erat tempus, posuere felis maximus, mattis nunc. Mauris orci leo, 
                laoreet a quam vitae, malesuada condimentum turpis. Nulla a tellus tortor. Etiam sit amet ipsum mauris. 
                Vestibulum nulla velit, pharetra at tellus sed, tristique auctor odio. Fusce ornare felis quis dolor mattis, 
                ac mollis velit porta. Integer quis faucibus orci. Morbi maximus neque non rutrum semper. 
                Aenean vehicula lectus pharetra rutrum vulputate. In tincidunt ex ornare, scelerisque lorem in, 
                suscipit mi. Morbi viverra tortor id libero posuere, eu mattis leo interdum. Pellentesque porttitor 
                sed mi iaculis maximus.
            </p>
        </div>
    </div>

    <br /><br /><br />
    <div class="card center-div">
        <div class="card-title">Fruits of the Month!</div>

        <div class="card-content">
            <br />
            <table class="table" style="width: 100%;">
                <tr>
                    <td>  <img src="./images/fms-about.jpg" height="150" width="250" /></td>
                    <td>  <img src="./images/fms-about.jpg" height="150" width="250" /></td>
                    <td>  <img src="./images/fms-about.jpg" height="150" width="250" /></td>
                </tr>
            </table>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vel pellentesque sem, 
                sit amet iaculis turpis. Nunc venenatis, quam eget pulvinar ornare, risus magna dapibus enim, 
                vitae varius tortor nibh nec urna. Phasellus vel ipsum lorem. In risus nisi, auctor id malesuada vitae, 
                egestas volutpat nulla. Quisque id erat tempus, posuere felis maximus, mattis nunc. Mauris orci leo, 
                laoreet a quam vitae, malesuada condimentum turpis. Nulla a tellus tortor. Etiam sit amet ipsum mauris. 
                Vestibulum nulla velit, pharetra at tellus sed, tristique auctor odio. Fusce ornare felis quis dolor mattis, 
                ac mollis velit porta. Integer quis faucibus orci. Morbi maximus neque non rutrum semper. 
                Aenean vehicula lectus pharetra rutrum vulputate. In tincidunt ex ornare, scelerisque lorem in, 
                suscipit mi. Morbi viverra tortor id libero posuere, eu mattis leo interdum. Pellentesque porttitor 
                sed mi iaculis maximus.
            </p>
        </div>
    </div>
<section>

<footer>
    <p>
        &copy; <script>document.write(new Date().getFullYear())</script> - <a href="https://www.bellevue.edu/">Bellevue University</a>
    </p>

</footer>

</body>
</html>
