<%- include('_header.html') %>

<%- include('_navbar.html') %>

<section class="container">
    <h1 class="center-text"><%= message %></h1>
    <div class="card center-div">
        <div class="card-title">
            <%= cardTitle %>
        </div>

        <div class="card-content">
            <div class="form">
                <form action="/login" method="post">
                    <div class="form-field">
                        <label for="username">Username</label><br />

                        <input type="text" class="input" name="username" id="username" required autofocus>
                    </div>

                    <div class="form-field">
                        <label for="password">Password</label><br />
                        <input type="password" class="input" name="password" id="password" required>
                    </div>

                    <div class="form-field">
                        <input type="submit" value="Log in" class="btn btn-primary full-width">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<%- include('_footer.html') %>
