<%- include('./partials/_header.ejs') %>

<section>
    <h1 class="center-text">Welcome to the Create Fruit Page!</h1>

    <div class="card center-div">
        <div class="card-title"><%= pageTitle %> </div>
        <div class="card-content">
            <div class="form">
                <form action="/fruits" method="post">
                    <div class="form-field">
                        <label for="fruitName">Name</label><br />
                        <input class="input" type="text" name="fruitName" id="fruitName" required autofocus>
                    </div>

                    <div class="form-field">
                        <input type="submit" value="Create Fruit" class="btn btn-primary full-width">
                    </div>
                </form>
            </div>
        </div>
    </div>

</section>

<%- include('./partials/_footer.ejs') %>
