<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>

    <link rel="stylesheet" href="/styles/site.css">

    <!-- Google fonts for Oswald -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>

<header class="header">
    <h1>Week 5 - Layouts</h1>
</header>

<section class="navbar">
    <a href="#">Link</a>
    <a href="#">Link</a>
    <a href="#">Link</a>
</section>

<section class="container">
    <h1 class="center-text"><%= message %> </h1>
    <div class="card center-div">
        <div class="card-title">
            <%= cardTitle %>
        </div>

        <div class="card-content">
            <div class="center-text">
                <h2 style="font-weight: lighter">You selected <%= fruit.name %>!</h2>
            </div>

            <br />
            <a href="/">Return</a>
        </div>
    </div>
</section>

</body>
</html>