<!DOCTYPE html>
<html lang="en">
  <% include header %>

  <body>
    <% include navbar %>

    <div role="main" class="container" style="width: 50%;">
      <br /><br />

      <h2>-- Fruit Entry Page --</h2>
      <form method="post" action="/process">
        <div class="form-group">
          <label for="txtName">Name:</label>
          <input type="text" class="form-control" id="txtName" name="txtName" />
        </div>

        <div class="form-group">
          <!-- CSRF token -->
          <input name="_csrf" value="<%= csrfToken %>" type="hidden" />

          <button type="submit" class="btn btn-secondary float-right">
            Submit
          </button>
        </div>
      </form>

      <br /><br />

      <a href="/list">Return to Fruits</a>
    </div>

    <% include scripts %>
  </body>
</html>
