<!DOCTYPE html>
<html lang="en">
  <% include header %>

  <body>
    <% include navbar %>

    <div role="main" class="container" style="width: 50%;">
      <br /><br />

      <h2>Fruit Details</h2>
      <br />
      <div>
        <div class="form-group">
          <label for="txtName">Name:</label>
          <input
            type="text"
            class="form-control"
            id="txtName"
            readonly
            value="<%= fruit[0].name %>"
            name="txtName"
          />
        </div>
      </div>

      <br /><br />

      <a href="/">&larr; OK</a>
    </div>

    <% include scripts %>
  </body>
</html>
