<%- include('./partials/_header.ejs') %>

<section class="container">
    <h1 class="center-text">Welcome to the FMS Contact Us Page! </h1>
    <div class="card center-div">
        <div class="card-title">
            <%= pageTitle %>
        </div>

        <div class="card-content">

            <table style="border-spacing: 20px; width: 100%;">
                <tr>
                    <td>
                        <div class="card-title">
                            <i class="fa fa-phone fa-lg"></i><br />
                        </div>

                        <div class="card-content" style="text-align: center;">
                            Toll free: 1-888-555-5555<br />
                            Phone: 402-555-5555<br />
                            Fax: 531-555-5555
                        </div>
                    </td>
                    <td>
                        <div class="card-title">
                            <i class="fa fa-location-arrow fa-lg"></i>
                        </div>
                        <div class="card-content" style="text-align: center;">
                            1000 Galvin Rd. South<br />
                            Bellevue, NE 68005
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</section>

<%- include('./partials/_footer.ejs') %>
